.logout__btn {
    color: #50596e;
    float: left;
    width: 100%;
    font-weight: 500;
    text-align: left;
    padding: 6px 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.logout__btn:hover {
    color: #4db7fe;
}

.save-button {
    background: #4db7fe;
    border-radius: 6px;
}
